*{
  margin: 0;
  padding: 0;
}

.all{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header,
footer{
  height: 3em;
  background-color: #E8EEF4;
}

header{
  display: flex;
  justify-content: space-between;
}

header div{
  padding: 0 30px;
}

.logo{
  display: flex;
}

.logo img,
.logo p{
  margin: auto;
}

.logo p{
  color: #00B5F8;
  padding-left: 5px;
  font-size: 20px;
}

.login{
  margin: auto 0;
}

.login a{
  text-decoration: none;
  color: #00B5F8;
  font-size: 20px;
  letter-spacing: 3px;
}

.main{
  display: flex;
  flex: 1;
}

.nav{
  flex: 0 0 15%;
  background-color: #F1F5F8;
}

.nav_tit{
  margin: 10px 30px;
}

.nav_list{
  background-color: #E8EEF4;
  padding-left: 30px;

}

.nav_list li{
  list-style: none;
  color: #466978;
  padding: 10px 25px;
  background: url("../images/icon1.png") no-repeat 0 13px;
}

.content{
  flex: 1;
}

.content_add{
  background-color: #E8EEF4;
  width: 95%;
  margin: 30px auto 0;
  text-align: right;
}

.content_add a{
  text-decoration: none;
  color: #00B5F8;
  font-size: 25px;
  padding: 15px;
}

.content_list table{
  width: 95%;
  margin:0 auto;
  border-collapse:collapse; 
  text-align: left;
  table-layout: fixed; 
}

.content_list tr{
  border: 1px solid #E7EBEE;
}

.content_list th{
  background-color: #E8EEF4;
  padding: 5px 10px;
  color: #466978;
}

.content_list td{
  padding:5px 10px;
  color: #72706F;
}

.content_button button{
  border: none;
  padding: 3px 10px;
  margin-right:15px; 
  background-color: #00B5F8;
  border-radius: 4px;
  color: #72706F;
}

footer{
  display: flex;
}

footer p{
  margin: auto; 
}


.hw-overlay{
  display:none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.3);
  z-index:10;
}

.hw-layer-wrap{
  box-sizing:border-box; 
  width:570px; 
  position:absolute;
  left:50%;
  top:50%; 
  margin-left:-285px; 
  border-radius:3px; 
  background-color:#fff; 
  box-shadow:1px 2px 4px 0 rgba(0,0,0,0.12); 
  padding:45px 20px;
}

.hwLayer-close{
  position:absolute; 
  right:20px; 
  top:10px; 
  width:20px; 
  height:20px; 
  cursor:pointer; 
  font-size:20px; 
  color:#ccc;
}

.row label{
  display: block;
  margin: 20px 0;
  color: #466978;
}

.row label input{
  width: 90%;
  padding: 5px;
  border: none;
  border: 1px solid #E8EEF4;
  border-radius: 3px;
  outline: none;
}

.hy_but{
  border: 1px solid #E8EEF4;
  border-radius: 3px;
  padding: 8px 15px;
  background-color: #00B5F8;
  color: #466978;
  font-size: 15px;
  float: right;
}